pandas==1.4.0
numpy==1.21.5
seaborn==0.11.2
matplotlib==3.5.1
plotly==5.6.0
igraph==0.10.4
bokeh==2.4.2
re==2.2.1
json==2.0.9
sklearn==1.1.0
imblearn==0.7.0
keras==2.12.0
tensorflow
xgboost==1.6.1
networkx==2.7.1
gensim==4.1.2
community
stellargraph
node2vec==0.4.5
Graph_Sampling
IPython==8.2.0
random
scipy==1.7.3
datetime
functools
time